.git
.gradle
.idea
build
node_modules
db/gtfs
db/gtfs.zip
frontend/node_modules
frontend/.next
frontend/out
frontend/build
nominatim
certbot
tiles
uploads
result
data
ml/recommender/artifacts
*.log
*.tmp
